<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LankaSign_WinBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LankaSign_WinBot.Properties.Settings>
            <setting name="apiUrl" serializeAs="String">
                <value>https://lankasign-backend-dev-test.paymediasolutions.com/api/certificate-request/certificate-request-feed-ra</value>
            </setting>
            <setting name="baseUrl" serializeAs="String">
                <value>https://pm.local/certsrv/certrqma.asp</value>
            </setting>
            <setting name="formName" serializeAs="String">
                <value>locTbCommonName</value>
            </setting>
            <setting name="formEmail" serializeAs="String">
                <value>locTbEmail</value>
            </setting>
            <setting name="formMobile" serializeAs="String">
                <value>locTbUnstructuredAddress</value>
            </setting>
            <setting name="formTin" serializeAs="String">
                <value>locTbDeviceSerialNumber</value>
            </setting>
            <setting name="formDesignation" serializeAs="String">
                <value>locTbTitle</value>
            </setting>
            <setting name="formCompany" serializeAs="String">
                <value>locTbOrg</value>
            </setting>
            <setting name="formDepartment" serializeAs="String">
                <value>locTbOrgUnit</value>
            </setting>
            <setting name="formCity" serializeAs="String">
                <value>locTbLocality</value>
            </setting>
            <setting name="formState" serializeAs="String">
                <value>locTbState</value>
            </setting>
            <setting name="formCountry" serializeAs="String">
                <value>locTbCountry</value>
            </setting>
        </LankaSign_WinBot.Properties.Settings>
    </userSettings>
</configuration>