<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseUrl" value="https://pm.local/certsrv/certrqma.asp" />
		<add key="apiUrl" value="https://lankasign-backend-dev-test.paymediasolutions.com/api/certificate-request/certificate-request-feed-ra" />
		<add key="formName" value="locTbCommonName" />
		<add key="formEmail" value="locTbEmail" />
		<add key="formMobile" value="locTbUnstructuredAddress" />
		<add key="formTin" value="locTbDeviceSerialNumber" />
		<add key="formDesignation" value="locTbTitle" />
		<add key="formCompany" value="locTbOrg" />
		<add key="formDepartment" value="locTbOrgUnit" />
		<add key="formCity" value="locTbLocality" />
		<add key="formState" value="locTbState" />
		<add key="formCountry" value="locTbCountry" />
	</appSettings>
</configuration>